/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 3:56:44 PM
    Author     : pando
*/

p{
font-size: 18pt;
border: 6px solid orange;
text-align: center;
}

.Centro{
    width: 50%;
    padding: auto;
    margin: auto;
}